/*
	EDITED by 			Gorthian
	Version				1.0
	Letzte Änderung		2022-07-21
	
	GitHub				https://github.com/Gorthian/Roll20_Troubleshooters_CharacterSheet
	Wiki				https://github.com/Gorthian/Roll20_Troubleshooters_CharacterSheet/wiki
	Bugs & Issues		https://github.com/Gorthian/Roll20_Troubleshooters_CharacterSheet/issues
*/

/*             TABS                               */
div.sheet-main-tab :is(.sheet-page1,.sheet-page2,.sheet-page3,.sheet-page4) {
    display: none;
}

div.sheet-main-tab .sheet-tabstoggle[value="page1"] ~ div.sheet-page1,
div.sheet-main-tab .sheet-tabstoggle[value="page2"] ~ div.sheet-page2,
div.sheet-main-tab .sheet-tabstoggle[value="page3"] ~ div.sheet-page3,
div.sheet-main-tab .sheet-tabstoggle[value="page4"] ~ div.sheet-page4 {
    display: block;
}

/* 				LAYOUT							*/

div.sheet-troubleshooters {
	/* Platz für allgemeine Definitionen */
	min-width	: 600px;
}

div.sheet-passport {
	display					: grid;
	grid-template-columns	: 2% 98%;
	grid-auto-flow			: column dense;
}

div.sheet-tab-buttons {
	display					: grid;
	grid-template-rows		: repeat(4,100px);
}

div.sheet-tab-buttons button {
	transform		: rotate(90deg);
	transform-origin: top left;
	width			: 85px;
}
